# This is the configuration file for eweipc.
# It is recommended that you back up this file
# before making changes to it.

# A setting and its value is to be written
# as Setting=value.  Setting names are
# case-insensitive but values may or may not be.
# Read the specific instructions for each.


# Settings:

# Email address that you are using to send email
# from.  VALUE IS CASE SENSITIVE.  Must be the
# gmail account you have set up an app password
# for.  Remember to set up the netrc file for
# this email address as well; instructions on
# how to do so is given in readme.txt file.
SendFrom=

# Email address that you are sending the
# email to.  VALUE IS CASE SENSITIVE.
SendTo=

# netrc file location. Ensure only you have
# permission to read the netrc file.  VALUE IS
# CASE-SENSITIVE. MUST be absolute path name.
netrcFileLocation=
